{% extends "stocks/layout.html" %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-6" style="margin-left: 50px;">
            <img src="" alt="">
            <h2 style="color: white;">Welcome back {{firstname}}</h2>
            <ul>
                <li class="profile_item" style="border-radius: 20px; font-weight: bold;">Email: <span style="font-weight: lighter;">{{email}}</span></li>
                <li class="profile_item" style="border-radius: 20px; font-weight: bold;">Profile Worth: <span style="font-weight: lighter;">${{startingfinances}}</span></li>
                <li class="profile_item" style="border-radius: 20px; font-weight: bold;">Age: <span style="font-weight: lighter;">{{age}}</span></li>
            </ul>
        </div>
        <div class="col-4">

        </div>
    </div>
{% endblock %}