{% extends "stocks/layout.html" %}
{% load static %}
{% block body %}
    <div class="row">
        <div class="col-6">
            <img src="" alt="">
            <span>Welcome back {{firstname}} {{lastname}}</span>
            <ul>
                <li class="profile_item">Email: <span>{{email}}</span></li>
                <li class="profile_item">Profile Worth: <span>{{startingfinances}}</span></li>
                <li class="profile_item">Age: <span>{{age}}</span></li>
            </ul>
        </div>
        <div class="col-4">

        </div>
    </div>
{% endblock %}