ul {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 18px;
}

li {
    list-style-type: none;
    background-color: #1F1F1F;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    margin: none;
    color: #FFFFFF;
}

a {
    font-style: normal;
    text-decoration: none;
    padding: none;
    margin: none;
    color: #FFFFFF;
}

h1 {
    margin-left: 50px; 
    color: #fff;
}

label{
    color: #fff;
    margin-right: 10px;
}
input{
    margin-right: 10px;
}
form{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}